.container {
    margin: 20px;

    .filters {
        display: flex;

        mat-form-field {
            width: 250px;
            margin-right: 20px;
        }

        .buttons {
            flex: auto;
            align-self: center;

            button {
                margin-left: 15px;
                width: 150px;
            }
        }
    }

    .buttons {
        text-align: right;
    }
  }

  button {
    width: 80px;
}
